{% extends "base.html" %} {% block content %}

<div class="container">
  <form method="POST">
    {{form.hidden_tag()}}
    <div class="container">
      <h3>Graffiti Reporting</h3>
      {{form.search.label}}
      {{form.search()}}

      {{form.cleanup.label}}
      {{form.cleanup()}}

      {{form.investigation_status.label}}
      {{form.investigation_status()}}

      {{form.new_photos.label}}
      {{form.new_photos()}}

      {{form.submit()}}
      <a href="{{url_for('inspectors_users.status_report')}}" class="btn btn-primary"> Status Report </a>
    </div>
  </form>
  <br />

  <div class="container">
    <table class="table table-dark">
      <tr>
        <th scope="col"> #</th>
        <th scope="col">Crew ID</th>
        <th scope="col">Supervisor Name</th>
        <th scope="col">Suspect Name</th>
        <th scope="col">Image Label</th>
        <th scope="col">Date of Incident</th>
        <th scope="col">Reporting Area</th>
        <th scope="col">GPS Coordinates</th>
      </tr>

      <tbody>
        
        {% for report in reports %}
              
        <tr>
          <th scope="row"></th>

          <td>{{report.crew_id}}</td>
          <td>{{report.supervisor_fname + " " + report.supervisor_lname}}</td>
          <td>{{report.first_name + " " + report.last_name }}</td>
          <td>Image Label</td>
          <td>{{report.date_of_incident}}</td>
          <td>{{report.street_address}}</td>
          <td>{{report.gps_lat, report.gps_lng}}</td>
        </tr>

        {%endfor%}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
