{% extends "base.html" %}
{% block content %}
<title>Law Enforcement Graffiti Incident Entry </title> <!-- This is title of page tab -->

<link href="{{url_for('static', filename='/legi_style_sheet.css')}}" rel="stylesheet">
<a class="btn btn-secondary" href="{{url_for('core.index')}}"> X</a>
<div class="page_container">


    <form method=POST enctype="multipart/form-data"> 
        <div class="row">
                <div class="col col-lg-6">
                <!-- This is for the crew info -->
                    <div class="info_box">
                        <h1>Crew Information</h1>
                        <div class="row">
                            <div class="col col-lg-6">
                                <p>Reporter First Name: <b>{{report.first_name}}</b></p>

                                <p>Supervisor First Name: <b>{{report.supervisor_fname}}</b></p>

                                <p>Crew ID: <b>{{report.crew_id}}</b></p>
                            </div>

                            <div class="col col-lg-6">
                                <p>Reporter Last Name: <b>{{report.last_name}}</b></p>
                                <p>Supervisor Last Name: <b>{{report.supervisor_lname}}</b></p>
                            </div>
                        </div>
                        
                    </div>

                <p> </p>

                    <div class="info_box5">
                        <form method=POST>
                            {{legi_form.hidden_tag()}}
                            <h1>Graffiti Information</h1>
                            <div class="row">
                                <div class="col col-lg-6">
                                    {{legi_form.moniker.label}}<br>
                                    {{legi_form.moniker(value=report.moniker if report.moniker != None else "")}}<br>
                                    {{legi_form.cleanup.label}}<br>
                                    <b>Current Value: {{report.scale_of_cleanup}}</b><br>
                                    {{legi_form.cleanup}}
                                    <br><br>
                                </div>
                                <div class="col col-lg-6">
                                    {{legi_form.investigation_status.label}}<br>
                                    <b>Current Value: {{report.investigation_status}}</b><br>
                                    {{legi_form.investigation_status()}}
                                    <br><br>
                                </div>
                            </div>
                        </form>
                    </div>
                <p></p>
                
                    <div class="info_box4">
                        <form method=POST enctype="multipart/form-data">
                            {{sus_form.hidden_tag()}}
                            {{search_form.hidden_tag()}}
                            <h1>Suspect Information</h1>
                            <div class="row">
                                <div class="col col-lg-4">
                                    {% if found != None %}
                                        {{sus_form.first_name.label}}
                                        {{sus_form.first_name(value=suspect.first_name if suspect != None else search_form.search_first_name.data)}}
                                        {{sus_form.gang.label}}
                                        {{sus_form.gang(value=suspect.gang)}}<br>
                                    {% else %}
                                        {{search_form.search_first_name.label}}
                                        {{search_form.search_first_name(placeholder="Doodle")}}

                                    {%endif%}

                                </div>

                                <div class="col col-lg-4">
                                    {% if found != None %}
                                        {{sus_form.last_name.label}}
                                        {{sus_form.last_name(value=suspect.last_name if suspect != None else search_form.last_name.data)}}
                                        <p>Click "Choose File" to upload picture of suspect</p>
                                        {{sus_form.sus_photos()}}
                                        {% if sus_form.sus_photos.errors %}
                                            <ul class="errors">{% for error in sus_form.sus_photos.errors %}<li class="text-danger">{{ error }}</li>{% endfor %}</ul>
                                        {% endif %}
                                        
                                        {%if sus_image_list != None %}
                                            <p><b>Suspect Photos:</b></p>
                                            {% for image in sus_image_list %}
                                                <img width="100" height="100" src="{{url_for('static', filename='sus_photos/' + image.filename )}}"></img>                                   
                                            {% endfor %}
                                        {% endif %}

                                    {% else %}
                                        {{search_form.search_last_name.label}}
                                        {{search_form.search_last_name(placeholder="Bob")}}
                                    {% endif %}
                                </div>


                                <div class="col col-lg-4">
                                    {% if found != None %}
                                        {% if found == False %}
                                            <p class="text-danger">Suspect not found! Continue entering information</p>
                                        
                                        {% else %}
                                            <p class="text-success">Suspect found/created!</p>
                                        {% endif %}
                                        {{sus_form.submit()}}
                                        {{sus_form.status.label}}<br>
                                        {{sus_form.status()}}
                                    {% else %}
                                        <br>
                                        {{search_form.submit()}}
                                    {% endif %}
                                </div>
                            </div>
                        </form>
                    </div>
                    
                <p></p>
            </div>
        
        

            <div class="col col-lg-6">
                <div class="info_box3">
                    <h1>Incident Report</h1>
                    <div class="row">
                        <div class="col col-lg-6">


                            {{legi_form.street_address.label}}<br>
                            {{legi_form.street_address(value=report.street_address if report.street_address != None else "")}}<br>
                            {% if legi_form.street_address.errors %}
                                <ul class="errors">{% for error in legi_form.street_address.errors %}<li class="text-danger">{{ error }}</li>{% endfor %}</ul>
                            {% endif %}


                            {{legi_form.zipcode.label}}
                            {{legi_form.zipcode(value=report.zipcode if report.zipcode != None else "")}}
                           
                        </div>

                        <div class="col col-lg-6">
                            {{legi_form.cross_street.label}}
                            {{legi_form.cross_street(value=report.cross_street if report.cross_street != None else "")}}
                            <p>State: <b>{{report.state}}</b></p>


                            {{legi_form.type_of_building.label}}
                            <b>Current Value: {{report.type_of_building}}</b><br>
                            {{legi_form.type_of_building()}}<br>
                        </div>
                    </div>
                </div>
                <p> </p>
                <!-- This is for the incident report -->
                <div class="info_box2">
                    <h1>Notes of the Incident</h1>
                    {{report.notes}}
                </div>
                <div class="submit_box">
                    <h3>Click on the "Choose File" button to upload a file:</h3>
                    {{legi_form.new_photos()}}
                    <br>{{legi_form.submit()}}
                    {% if legi_form.new_photos.errors %}
                    <ul class="errors">{% for error in legi_form.new_photos.errors %}<li class="text-danger">{{ error }}</li>{% endfor %}</ul>
                    {% endif %}
                    <br>
                   
                    <h3>Existing photos</h3>
                    {% for image in image_list %}
                        <img width="100" height="100" src="{{url_for('static', filename='report_photos/' + image.filename )}}"></img>                                   
                    {% endfor %}

                </div>
            </div>
        </div>
        <br>    
    </form>
</div>

{% endblock %}