{% extends "base.html" %}
{% block content %}
<title>Law Enforcement Graffiti Incident Entry </title> <!-- This is title of page tab -->
<link href="{{url_for('static', filename='css/legi_style_sheet.css')}}" rel="stylesheet">
<a class="btn btn-secondary" href="{{url_for('core.index')}}"> X</a>
<div class="page_container">


    <form method=POST>
        <div class="row">
                <div class="col col-lg-6">
                <!-- This is for the crew info -->
                    <div class="info_box">
                        <h1>Crew Information</h1>
                        <div class="row">
                            <div class="col col-lg-6">
                                <p>crew first name</p>

                                <p>supervisor first name</p>

                                <p>crew id number</p>

                                <p>clean up scale</p>
                            </div>

                            <div class="col col-lg-6">
                                <p>crew last name</p>
                                <p>supervisor lst name</p>
                            
                            </div>
                        </div>
                        
                    </div>

                <p> </p>

                    <div class="info_box5">
                        <h1>Graffiti Information</h1>
                        <div class="row">
                            <div class="col col-lg-6">
                                <form action="/action_page.php">
                                    <label for="monkier">Monkier:</label><br>
                                    <input type="text" id="monkier" name="monkier" value="Description of Graffiti Image"><br>
                                </form>
                                
                                <form action="/action_page.php">
                                    <label for="damage_amount">Amount of Cleanup:</label>
                                    <select name="damage_amount" id="damage_amount">
                                    <option value="Small">Small</option>
                                    <option value="Moderate">Moderate</option>
                                    <option value="Large">Large</option>
                                    </select>
                                    <br><br>
                                </form>
                            </div>
                            <div class="col col-lg-6">
                                <form action="/action_page.php">
                                    <label for="invest_status">Investigation Status:</label>
                                    <select name="invest_status" id="invest_status">
                                    <option value="New">New</option>
                                    <option value="In Progress">In progress</option>
                                    <option value="In Litigation">In Litigation</option>
                                    <option value="Resolved">Resolved</option>
                                    </select>
                                    <br><br>
                                </form>
                            </div>
                        </div>
                        
                    </div>
                <p></p>
                
                    <div class="info_box4">
                        <h1>Suspect Information</h1>
                        <div class="row">
                            <div class="col col-lg-4">
                                <form action="/action_page.php">
                                    <label for="suspect_fname">Suspect First Name:</label><br>
                                    <input type="text" id="suspect_fname" name="suspect_fname" value="Gon"><br>
                                </form>

                                <form action="/action_page.php">
                                    <label for="gang_name">Gang or Crew Name:</label><br>
                                    <input type="text" id="gang_name" name="gang_name" value="The Bad Guys"><br>
                                </form>
                            </div>


                            <div class="col col-lg-4">
                                <form action="/action_page.php">
                                    <label for="suspect_lname">Suspect Last Name:</label><br>
                                    <input type="text" id="suspect_lname" name="suspect_lname" value="Freecss"><br>
                                </form>

                                <form action="/action_page.php">
                                    <p>Click "Choose File" to upload picture of suspect</p>
                                    <input type="file" id="myFile" name="filename">
                                </form>
                            </div>


                            <div class="col col-lg-4">
                                <form action="/action_page.php">
                                    <p>Click to look up suspect:</p>
                                    <button name="lookup" type="submit" value="lookup">Look Up Suspect</button>
                                    <p></p>
                                    <form action="/action_page.php">
                                    <label for="sus_status">Suspect Status:</label>
                                    <select name="sus_status" id="sus_status">
                                    <option value="Unknown">Unknown</option>
                                    <option value="Identified">Identified</option>
                                    <option value="In Custody">In Custody</option>
                                    <option value="Released">Released</option>
                                    </select>
                                    <br><br>
                                </form>
                                </form>
                            </div>
                        </div>
                    </div>
                    
                <p></p>
            </div>
        
        

            <div class="col col-lg-6">
                <div class="info_box3">
                    <h1>Incident Report</h1>
                    <div class="row">
                        <div class="col col-lg-6">
                            <p>building type</p>
                            <p>street addr</p>
                            <p>zipcode</p>
                        </div>

                        <div class="col col-lg-6">
                            <p>cross street addr</p>
                            <p>state</p>
                        </div>
                    </div>
                </div>
                <p> </p>
                <!-- This is for the incident report -->
                <div class="info_box2">
                    <h1>Notes of the Incident</h1>
                    <label for="w3review"></label>
                </div>
                <div class="submit_box">
                    <h3>Click on the "Choose File" button to upload a file:</h3>
                    <form action="/action_page.php">
                        <input type="file" id="myFile" name="filename">
                        <button name="Edit" type="submit" value="Edit">Edit File Name</button>
                        <input type="submit">
                    </form>
                    </div>
            </div>
        </div>
        <br>    
    </form>
</div>

{% endblock %}