{% extends "base.html" %}
{% block content %}

<div class="jumbotron">
    

        <div class="row">
            
            <aside class="col-sm-6">
                <div class="card">
                    <article class="card-body">
                        <form>
                            <div class="form-group">
                                <h4>City Workers</h4>
                                <div class="form-group">
                                    <a class="btn btn-success btn-block"
                                        href="{{url_for('reporters_users.register_reporter')}}">Sign Up</a>
                                </div>

                                <div class="form-group">
                                    <a class="btn btn-primary btn-block"
                                        href="{{url_for('reporters_users.login_reporter')}}">Log In </a>
                                </div>
                            </div>
                        </form>
                    </article>
                </div>
            </aside>

            <aside class="col-sm-6">
                <div class="card">
                    <article class="card-body">
                        <form>
                            <div class="form-group">
                                <h4>Law Enforcement</h4>
                                <div class="form-group">

                                    <a class="btn btn-success btn-block"
                                        href="{{url_for('inspectors_users.register_inspector')}}">Sign Up </a>

                                </div>

                                <div class="form-group">
                                    <a class="btn btn-primary btn-block"
                                        href="{{url_for('inspectors_users.login_inspector')}}">Log In </a>
                                </div>



                            </div>

                        </form>

                    </article>
            </aside>


        </div>



    
</div>

{% endblock %}